%footer#main_footer
  %p.copyright &copy; 2017 Corhax
  %nav
    %a{:href => "http://twitter.com"}
      %i.fa.fa-twitter

    %a{:href => "http://facebook.com"}
      %i.fa.fa-facebook

    %a{:href => "http://github.com"}
      %i.fa.fa-github
