%header#main_navigation.clearfix
  = link_to "Corhax", admin_root_path, class: "name"
  %nav
    =link_to "Posts", admin_posts_path
    =link_to "Projects", admin_projects_path
    =link_to "Contact", new_admin_contact_path
