.wrapper.wrapper_padding.clearfix

  .col-1.about.homepage_content
    %h2 About
    %hr
    %p Lorem ipsum...

  .col-2.homepage_content
    %h2 Stuff I've Written
    %hr

    - @posts.each do |post|
      %h3= link_to post.title, post
      %p.date= post.created_at.strftime("%A, %b %d")

  .col-3.homepage_content
    %h2 Stuff I've Built
    %hr
      - @projects.each do |project|
        %h3= link_to project.title, project
        %p.date= project.created_at.strftime("%A, %b %d")
