%h1#page_title My Projects

#posts_wrapper.skinny_wrapper
  - @projects.each do |project|
    .post
      %p.date= project.created_at.strftime('%A, %B %d')
      %h2
        %a{:href => "/"}= link_to project.title, admin_project_path(project)
      %hr

= link_to "New", new_admin_project_path
