%h1#page_title Hello

.skinny_wrapper.wrapper_padding
  %label Name
  %br
  %input{:type => "text"}/
  %br

  %label Email
  %br
  %input{:type => "text"}/
  %br

  %label Message
  %br
  %textarea

  %br
  	
  %input.button{:type => "submit", :value => "Send Message"}/
