%h1#page_title My Posts

#posts_wrapper.skinny_wrapper
  - @posts.each do |post|
    .post
      %p.date= post.created_at.strftime('%A, %B %d')
      %h2
        = link_to post.title, admin_post_path(post)
      %hr

= paginate @posts
= link_to "New", new_admin_post_path
