%h1#page_title Stuff I've writeen

#posts_wrapper.skinny_wrapper
  - @posts.each do |post|
    .post
      %p.date= post.created_at.strftime('%A, %B %d')
      %h2
        %a{:href => "/"}= link_to post.title, post
      %hr

= paginate @posts
